/* font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

/* other css */
@import url('./styles/who.css');
@import url('./styles/news.css');
@import url('./styles/form.css');
@import url('./styles/manual.css');
@import url('./styles/contatti.css');

/* system variables */
:root {
    --ruby-red: #a31621ff;
    --snow: #fcf7f8ff;
    --light-gray: #ced3dcff;
    --teal-blue: #4e8098ff;
    --pale-cerulean: #90c2e7ff;
}

/* common elements */
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    font-family: 'Titillium Web', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--teal-blue);
    color: var(--snow);
}

footer div p {
    text-align: center;
}

/* navbar */
nav {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--teal-blue);
    margin-bottom: 30px;
}

#menu li {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: var(--ruby-red);
}  

#menu li span:hover {
    color: var(--pale-cerulean);
}

#menu li span {
    padding: 1rem;
}

.nav-item-ce {
    width: 60%;
    display: grid;
    place-items: center;
}

.nav-item-t, .nav-item-bt {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-item-t {
    display: flex;
    justify-content: start;
}

.nav-item-bt img {
    width: 8%;
    margin-right: 0.7rem;
}


.title {
    color: var(--ruby-red);
    font-size: 2.8rem;
    margin: 0;
}

