/* other css */
@import '../common/account.css';

#sec-login{
    height: 94vh;
}

.mid-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
}

.container-dash {
    display: flex;
    justify-content: space-evenly;
}

.box-dash {
    height: 110px;
    width: 150px;
    border: 3px solid var(--dark-sienna);
    border-radius: 5px;
    text-align: center;
    box-shadow:0 0 20px -10px var(--dark-sienna);
}

#form-new-admin {
    min-height: 68vh;
}

#message-new {
    position: absolute;
    bottom: 0;
}
