#news{
    width: 80vw;
    margin: auto;
}

#news-container {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
    flex-wrap: wrap;
}

#main-title-news{
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.news-img {
    border: 1px solid var(--dark-sienna);
    border-radius: 5px;
    margin-bottom: 2vh;
    height: 25vh;
}

/* box */
.box-news {
    background: var(--snow);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px var(--dark-sienna);
    padding: 20px 0;
    margin: 20px 0;
    width: 32%;
    overflow: hidden;
}

.news-title {
    margin: 20px auto;
    color: var(--dark-sienna);
    width: 70%;
    text-align: center;
    border-bottom: 1px solid var(--dark-sienna);
}

.news-body {
    text-align: justify;
    width: 70%;
    margin:auto;
    min-height: 150px;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.news-author {
    color: var(--light-gray);
    text-align: right;
    float: right;
    font-size: 14px;
    margin-right: 10px;
}
