/* system variables */
:root {
    --ruby-red: #a31621ff;
    --snow: #fcf7f8ff;
    --light-gray: #ced3dcff;
    --teal-blue: #4e8098ff;
    --pale-cerulean: #90c2e7ff;
}

/* font */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* other css */
@import url('./form.css');

/* common elements */
body {
    background-color: var(--light-gray);
    font-family: 'SF Pro Display', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

.title {
    color: var(--ruby-red);
    font-size: 45px;
    padding: 0;
    margin: 0;
}