#form-c{
    width: 400px;
    height: fit-content;
    background: var(--snow);
    border-radius:8px;
    box-shadow:0 0 40px -10px var(--dark-sienna);
    padding: 3vh 3vw;
    box-sizing:border-box;
    position:relative;
    margin: auto;
}

#title-contact {
    margin: 20px  auto;
    padding-bottom: 10px;
    width: 100%;
    color: var(--persian-plum);
    border-bottom:3px solid var(--persian-plum);
    text-align: center;
}

.input-text {
    margin-top: 5px;
    margin-bottom: 30px;
    width:100%;
    padding: 10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border-radius: 5px;
    border: 0px solid var(--vivid-burgundy);
    border-bottom: 1px solid var(--vivid-burgundy);
    transition: all 200ms ease;
}

.input-text:focus {
    border-bottom: 2px solid var(--vivid-burgundy);
}

input[type=button] {
    font-weight: bold;
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border-radius: 5px;
    border:2px solid var(--persian-plum);
    background:0;
    color: var(--vivid-burgundy);
    cursor: pointer;
    transition: all 300ms ease-in;
}

input[type=button]:hover {
    background: var(--persian-plum);
    color: var(--snow);
}

.input-text .body-message{
    resize: vertical;
}

#contact-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 12px;
    margin: 0;
    color: var(--dark-sienna);
    text-align: center;
}

#message {
    text-align: center;
    color: var(--snow);
    border-radius: 5px;
    border-radius:8px;   
}