/* COMMON */
.text-l-r {
    padding: 10px 0;
    font-size: 14px;
    bottom: 0;
    float: right;
    color: var(--light-gray);
    text-align: center;
}



/* LOGIN */

/* REGISTRAZIONE */

#form-r{
    width: 400px;
    height: fit-content;
    background: var(--snow);
    color: var(--text-color);
    border-radius:8px;
    box-shadow:0 0 40px -10px var(--dark-sienna);
    padding:20px 30px;
    box-sizing:border-box;
    position:relative;
    margin: auto;
    display: none;
}

#button {
    display: flex;
    flex-direction: row;
}

.btn-swtich {
    font-size: 12px;
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid var(--light-gray);
    margin: 0px 2px 20px;
    padding: 8px 0 8px;
    border-radius: 2px;
}

.selezionato {
    background-color: var(--vivid-burgundy);
    color: var(--snow) !important;
    border-bottom: none !important;
}