#manual {
    border: 2px solid var(--dark-sienna);
    border-radius: 8px;
    width: 60%;
    margin: auto;
    color: var(--snow);
    text-align: justify;
    text-justify: inter-word; 
    margin-bottom: 80px;
}

#man-title {
    text-align: center;
    color: var(--snow);
    border-bottom: 2px solid var(--dark-sienna);
    margin: 0px 25px 0px;
    padding: 15px 0px 15px;
}

#manual p {
    padding: 0px 15px 0px;
}

h4 {
    padding: 15px 15px 0px;
    margin: 0px;
    color: var(--dark-sienna);
}