#manual {
    border: 2px solid var(--dark-sienna);
    border-radius: 8px;
    width: 55%;
    margin: auto;
    background-color: snow;
    color: #333;
    text-align: justify;
    text-justify: inter-word; 
    margin-bottom: 80px;
    position: relative;
    padding: 3vh 3vw;
}

#man-title {
    text-align: center;
    color: var(--dark-sienna);
    border-bottom: 2px solid var(--dark-sienna);
    width: 70%;
    margin: 25px auto;
    padding: 25px 0px 25px 0px;
}

#manual p {
    padding: 0px 15px 0px;
}

h4 {
    margin: 20px auto;
    padding: 20px;
    color: var(--dark-sienna);
    width: 70%;
    text-align: center;
    border-bottom: 1px solid var(--dark-sienna);
}

.centered{
    display: grid;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
}