#donation {
    color: var(--text-color);
    height: fit-content;
    width: fit-content;
    background: var(--snow);
    border-radius:8px;
    box-shadow:0 0 40px -10px var(--dark-sienna);
    padding: 3vh 3vw;
    box-sizing:border-box;
    position:relative;
    margin: auto;
    text-align: center;
}

#btn-dona {
    background-color: var(--vivid-burgundy);
    color: var(--snow);
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow:0 0 40px -10px var(--dark-sienna);
    padding: 5px;
    box-sizing : border-box;
}

#btn-dona:hover {
    background-color: var(--snow); 
    color: var(--text-color);
    border: 2px solid var(--dark-sienna);
}

#donazioni {
    margin: auto;
    border: 2px solid var(--vivid-burgundy);
    border-radius: 8px;
    padding: 20px 10px;
}

th {
    font-weight: bold;
}

#message-d{
    text-align: center;
    color: var(--snow);
    border-radius: 8px;
    margin:  10px auto 0 auto;
    padding: 20px 5px;
    /* va a capo dopo 50 caratteri */
    width: 50ch;
}
